* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    background-color: gainsboro;
    text-align: center;
    width: 600px;
    color:rgb(255, 116, 2);
    line-height: 95px;
    margin: 0 auto;
    padding: 0 30px;
    border-radius: 10px;
    font-size: 60px;
}
.main-top {
    text-align: right;
}
main [class^="main-"] {
    margin: 20px 0;
}
main {
    background-color: #f0f0f0;
    width: 600px;
    margin: 0 auto;
    padding: 10px 30px;
}
.list-head {
    font-weight: 600;
    background-color: #dddddd;
    border-radius: 30px;
    color: #000000;
}
.item {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
    background-color: #fff;
    margin: 5px 0;
}
.line-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 1.5rem;
    margin: 5px 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: #000;
}

.a-button {
    color: #fff;
    font-size:1.5rem;
    font-weight: 600;
    display: inline-block;
    background-color:  #a5a5a5;
    border-radius: 5px;
    text-align: center;
}
.a-button:hover {
    background-color: #6f91ff;
}
.small-button {
    width: 80px;
    height: 40px;
    line-height: 35px;
    text-align: center;
}
.main-bottom {
    text-align: center;
}