body {
    font-size: 11px;
}

.color-name {
    color: #ad3000
}

ul {
    line-height: 2rem;
    list-style: none;
}
.span-red {
    color: #ad3000;
    font-weight: 900;
    font-size: 1.2rem;
}
.div-center p {
    line-height: 200px;
}