.color-name {
    color: red;
}
.color-hex {
    color: #d18989;
}
.color-reb {
    color: rgb(20,25,25)
}
.color-rgba {
    color: rgba(255, 0, 255, 0.2)
}
.color-hsla {
    color: hsl(255, 100%, 50%)
}

/* 텍스트 정렬 */
#p-center {
    text-align: center;

}
#p-right {
    text-align: right;
}
#p-left {
    text-align: left;
}
.div-center {
    width: 200px;
    height: 200px;
    background-color: burlywood;
}
.div-center p {
    text-align: center;
    line-height: 200px; /* 줄간격 조절을 통해 중앙으로 정렬 */
}

/* 영어 첫번째 글자를 대문자로 변환 */
.capitalize {
    text-transform: capitalize;
}

/* 텍스트를 영어 대문자로 변환 */
.uppercase {
    text-transform: uppercase;
}
/* 텍스트를 영어 소문자로 변환 */
.lowercase {
    text-transform: lowercase;
}


/* 자간 설정 */
.letter-spacing {
    letter-spacing: 1.2rem; 
}

/* 단어 간격 설정 */
.word-spacing {
    word-spacing: 2rem;
}
/* 텍스트 그림자설정 */
.shadow {
    text-shadow: -5px -20px 3px red;
}