ul {
    border: 1px solid black;
    border-collapse: collapse;
    border-right: chartreuse;
    
}
li {
    border: 1px solid rgb(192, 192, 192);
    text-align: center;
    background-color: rgb(192, 192, 192);
    border-right-color: chartreuse;
    display: inline-block;
    box-shadow: 5px 5px 5px 5px rgb(88, 88, 88);
}
a {
    font-size: 14px;
    font-weight: bold;
    border-right: chartreuse;
    text-decoration: none;
    color: black;
}
.navi a:hover {
    background-color: #4d4d4d;
}
.navi ul li {
    float: left;
    width: 80px;
    padding: 10px;
}
ul :nth-child(6):hover {
    background-color: #ff0000;
}


