
#MultiViews 옵션을비활성화
Options -MultiViews
#Apache의 모듈인 'mod_rewrite'를 활성화 함.
RewriteEngine On
Options -Indexes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

